html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #dda8b5;
  background: #4d2a4f;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    overflow: hidden
  }
  .note-container, .note-display{
    position: relative;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 320px;
  }
    
.search {
  position: sticky;
  top: 0;
  width: 100%;
display: flex;
justify-content: space-around;
    background: #361e40;
    padding: .5em;
    
  }
  .search form{
    display: flex;
    flex-wrap: nowrap;
  }
  .search input{
    border: none;
  height: 2em;
  box-sizing: border-box;
  }
  .search input[type=submit]{
    background: #dda8b5;
    cursor: pointer;
   }
  .search input[type=submit]:hover{
   background:  #29102e;
   color: #dda8b5;
  }
  .nav{
    background: #29102e;
    
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(160, 160, 160, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-note form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #361e40;
    min-width: 50%;
    height: 95vh;
    border-radius: 20px;
  }
  .btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    padding:0;
    border: none;
    box-sizing: border-box;
    background:  url('./close.png') center / 100% no-repeat;
    
  }
  .new-note textarea {
    width: 70%;
    height: 50%;
    background: #dda8b5;
    font-size: 1.2em;
  }
  .new-note input[name=title]{
    background: #dda8b5;
    border:3px solid #361e40;
   padding: .5em;
    width: 70%;
    font-size: 1.5em;
    box-sizing: border-box;
  }

  .notes-list {
    flex: 1;
  }
  .note-item {
    cursor: pointer;
    border-bottom: thin solid #361e40;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .note-item .date-day{
    font-size: 2em;
  }
   
  .note-item:nth-child(even) {
    background: #361e40;
  }
  .note-item:hover{
    background: #dda8b5;
    color: #361e40;
  }
  .note-list h2 {
    margin: 0;
  }

  .tool-bar{
    padding: 1em;
    border:3px solid #361e40
}
  .btn-tool-add{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background:  url('./add.png') center / 100% no-repeat;
        display: block;
        margin-bottom: 1em;
    }
  .calendar-wraper{
    position: relative;
  }
  .btn-tool-calendar{
    width: 40px;
    height: 40px;
    border: none;
    background:  url('./calendar.png') center / 100% no-repeat;
    display: block;

  }
  .calendar{
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 10;
  }
    .tool-bar button:hover, .btn-close:hover{
      transform: scale(1.1);
      cursor: pointer;
  
    }

    .note-display p{
      padding: .5em;
      line-height: 1.5;
    }
    .note-display h1{
      text-align: center;
    }
    .btn-tool-container{
      position: sticky;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #29102e;
      padding: 1em;
      
      display: flex;
      justify-content: space-around;
    }
    .btn{
      padding: 1em;
      border: 2px solid #361e40 ;
      border-radius: 10px;
      color: #dda8b5;
      background: #29102e;
    }
    .btn:hover{
      color: #29102e;
      background: #dda8b5;
      cursor: pointer;
    }
    h1, h2{
      text-transform: capitalize;
    }